#change-password-popup {
  z-index: 102;
}

.label-add-group {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
}

.add-password__title-action {
  display: flex;
  align-items: center;
  height: 100%;
}

.title-action__info {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 0px 20px;
  cursor: pointer;
}

.title-action__title {
  padding-left: 8px;
}
